body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background: hsl(0, 0%, 10%);
  color: #fff;
}

h1 {
  color: #9feaf9;
}

.front-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.front-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  padding: 2rem;
  margin: 1rem;
  width: 30rem;
  background-color: #272727;
  border-radius: 0.5rem;
}

.front-box button {
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #9feaf9;
  color: #1a1a1a;
  font-weight: bold;
  cursor: pointer;
}