body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background: hsl(0, 0%, 10%);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  align-items: center;
}

h1 {
  color: #9feaf9;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  padding: 2rem;
  margin: 1rem;
  width: 30rem;
  background-color: #272727;
  border-radius: 0.5rem;
}

.box a {
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  background-color: #9feaf9;
  color: #1a1a1a;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.application-form-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.application-form-section textarea,
.application-form-section input{
  width: 60%;
}

.application-form-section button{
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  background-color: #9feaf9;
  color: #1a1a1a;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1rem;
}